/** {
  border: 2px solid black;
}*/
body {
  /*background: #371718;*/
  font-size: 2em;
  /*color: black;*/
}

#header {
  background-color: #171837;
  background: linear-gradient(30deg,#171837 0%, #171837 30%, #2628c0 50%, #171837 70%, #171837 100%);
  background: -moz-linear-gradient(30deg,#171837 0%, #171837 30%, #2628c0 50%, #171837 70%, #171837 100%);
  background: -webkit-linear-gradient(30deg,#171837 0%, #171837 30%, #2628c0 50%, #171837 70%, #171837 100%);
  background: -o-linear-gradient(30deg,#171837 0%, #171837 30%, #2628c0 50%, #171837 70%, #171837 100%);
  width: 100%;
  padding: 0 2em;
  color: #00ccff;
}
#header > div {
  padding: 0 2em;
}

li {
  margin: 1em;
}
li:hover {
  cursor: pointer;
}
#login {
  text-align: center;
}
main {

  width: 80%;
  /*text-align: center;*/
  margin: 0 2em;
}

.editLink:hover {
  cursor: pointer;
}
.posts {
    background : #EEEEEE;
    /*border-radius: 5px;*/
    /*padding-top: 5px;*/
    padding: 5px 1em;
    border-top: .3px solid darkgray;
    margin: 5px 1em;
}

.single-post {
    width: 90%;
    padding: 5px 1em;
    border-top: .3px solid darkgray;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #A9B7C0;
}

.single-post > * {
  flex-direction: column;
  color: black;
}

.onePost {
  background: #A9B7C0;
  margin: 1em;
  padding: 5px 1em 10px 1em;
  color: black;
}

.oneComment {
  background: lightgray;
  margin: 1px;
  padding: 5px 1em 5px 1em;
}

.single-post > h3:hover {
  cursor: pointer;
}

.legend {
  width: 1.5em;
  height: 1.5em;
  float: left;
  background: #A9B7C0;
}
.afterLegend {
  text-indent: 1em;
}

.longField {
  width: 70%;
}

.form-horizontal {
    background : #EEEEEE;
    border-top: .3px solid darkgray;
    border-bottom: .3px solid darkgray;
    padding: 4px;
    margin: 0 2px;
}

button {
  border-radius: 8px;
  margin: 5px;
}
.author {
  color: black;
}
.warning {
  color: #e60000;
}

#footer {
  /*background: #371718;*/
  background-color: #6c2d2f;
  background: linear-gradient(30deg,#bb5d60 0%, #6c2d2f 30%, #6c2d2f 50%, #6c2d2f 70%, #bb5d60 100%);
  text-align: center;
  color: #00ccff;
  height: 2.5em;
  padding-top: .5em;
  position: fixed;
  width: 100%;
  bottom: 0;
}
.displayDailyTopic {
  display: flex;
  align-items: center;
}
.displayDailyTopic p {
  padding-top: 8px;
}

.hard-right {
    background: #B22234;
}
.soft-left {
    /*background: #A9B7C0;*/
    background: #337AB7;
}
.soft-right {
    background: #D27E87;
}
.hard-left {
    /*background: #3C3B6E;*/
    background: #003399
}
.centrist {
    background: #785d90;
    /*background: #653776;*/
}
.independent {
    background: #9c8914;
}
