<!DOCTYPE html>
<html  ng-app='boardAdmin'>
  <head>
    <meta charset="utf-8">
    <title>Board Admin</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
  </head>
  <body  ng-controller="mainController as ctrl">

    Username <input type="text" placeholder="USERNAME">
    Password <input type="text" placeholder="PASSWORD">

    <button type="button" ng-click="ctrl.getAllPosts()">Login</button>

  </body>
</html>
